.title1{
    text-align: center;
    background-color: rgb(149, 150, 144);
    margin-left: auto;
    margin-right: 40%;
    padding:1rem; 
}

body{
    background-color: rgba(245, 236, 158, 0.637);
    background-image: url('https://us.123rf.com/450wm/yod67/yod671906/yod67190600102/126018745-vector-de-un-perro-border-collie-en-blanco.jpg?ver=6');
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 60%;
}
.div{
    margin-left: 60%;
}
.btn1{
    border: 1px solid;
    margin-left: 40%;
    background-color: rgb(69, 212, 100);
    
}

#image_dog img{
   width: 85%;
   height: 10%;
} 
